/* ====================================================================== 
 * 1. ESTILOS GLOBALES
 * ====================================================================== */

 body {
    font-family: 'Inter', sans-serif;
}


.box-shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


#header-link-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 768px) {
    #header-link-buttons {
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;
    }
    .hero .button {
        width: 100%;
    }
}

/* ====================================================================== 
 * 2. ESTILOS DEL TABLERO DE AJEDREZ
 * ====================================================================== */

.board-square {
    aspect-ratio: 1 / 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    
    cursor: pointer;
    transition: background-color 0.2s;
    border: 0.1px solid #363636;
}

.board-square.has-text-black i {
    color: #363636;
}

.board-square.has-text-white-ter i {
    color: #f5f5f5;
}

.board-number {
    width: 12.5%;
}


/* ====================================================================== 
 * 3. ESTILOS DE SKELETON LOADING
 * ====================================================================== */

.skeleton-placeholder {
    min-height: 1.5em;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.loading-animation {
    animation: pulse 1.5s infinite ease-in-out;
}

.opponent-name {
    width: 80%;
    justify-self: center;
}

.opponent-games {
    width: 50%;
    justify-self: center;
}


img{

    object-fit: cover;
    width: 100%;
    height: 100%;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}